body {
    background-color: aquamarine;
    font-weight: bold;
    /* text-decoration: underline; */
}

p {
color: black;
}

p:nth-of-type(3n) {
    color: plum;
}

p::first-letter {
    color: orange;
    font-size: 5rem;
}